<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="BPMN_Plugin.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="BPMN_Plugin.commands.category"
            id="BPMN_Plugin.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="BPMN_Plugin.commands.sampleCommand"
            class="bpmn_plugin.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="BPMN_Plugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="BPMN_Plugin.menus.sampleMenu">
            <command
                  commandId="BPMN_Plugin.commands.sampleCommand"
                  mnemonic="S"
                  id="BPMN_Plugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="BPMN_Plugin.toolbars.sampleToolbar">
            <command
                  commandId="BPMN_Plugin.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world"
                  id="BPMN_Plugin.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="bpmn_runtime.ImixsRuntimeExtension"
            description="Imixs-Workflow"
            id="org.imixs.workflow.bpmn.runtime"
            name="Imixs-Workflow">
      </runtime>
      <propertyTab
   		 id="org.imixs.bpmn2.mytask.tab"
  		 class="bpmn_runtime.MyTaskPropertySection"
    	label="My Task"
    	type="org.eclipse.bpmn2.Task"
    	runtimeId="org.imixs.workflow.bpmn.runtime">
	  </propertyTab>
   </extension>
   
   

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mymodel -->
      <package
            uri="http://www.imixs.org/bpmn2"
            class="com.bpmn.model.model.ModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mymodel -->
      <parser
            type="bpmn"
            class="com.bpmn.model.model.util.ModelResourceFactoryImpl"/>
   </extension>
</plugin>
